{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <div id="login_bloc_page">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div id="loginForm">
                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                <div id="loginFormEmail">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div id="loginFormPassword">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div id="login_buttons">
                <button class="btn btn-lg btn-primary btn-sm" type="submit" id="loginFormSubmit">
                    Se connecter
                </button>
                <a href="{{ path('register') }}" id="register_link">Créer un compte</a>
            </div>
        </form>
    </div>
    <footer id="fixed_footer">
        <p>&copy; 2002–2022 Pml Boutique</br>
            <small>La boutique des top G</br>
                <a href="#">Privacy</a> - <a href="#">Terms</a>
            </small>
        </p>
    </footer>
{% endblock %}
