{% extends 'base.html.twig' %}

{% block carousel %}
{% endblock %}

{% block content %}
 <!-- Three columns of text below the carousel -->
      <div class="row">
          <h3 id="bestProducts_title">Produits à la une</h3>
          {% for product in bestProducts %}
            <div class="col-md-3" id="productsDisplay">
                <a href="{{ path('product', { 'slug' : product.slug }) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" /></a>
                <h4>{{ product.name }}</h4>
                <span>{{ product.subtitle }}</span></br>
                <span>{{ product.price|number_format(2, ',', '.') }}{{ '€' }}</span>
            </div>
          {% endfor %}
      </div>
      <footer id="end_footer">
        <p>&copy; 2002–2022 Pml Boutique</br>
            <small>La boutique des top G</br>
                <a href="#">Privacy</a> - <a href="#">Terms</a>
            </small>
        </p>
      </footer>
{% endblock %}